body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 80%;
    width: 75%;
    position: relative;
    overflow: hidden;

}
#slider{
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;

}
img {
    min-width:100%;
    min-height: 100%;
    object-fit: fill;
}

#next{
    position: absolute;
    top: 50%;
    right: 0;
    height: 10%;
    border-radius: 8px;
    cursor: pointer;
    transform: translateY(-50%)
}

#previous{
    position: absolute;
    top: 50%;
    left: 0;
    height: 10%;
    border-radius: 8px;
    cursor: pointer;
    transform: translateY(-50%)
}