/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  section {
      padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  #scrollToTop {
      bottom: 10px;
      right: 10px;
      padding: 8px;
  }
}
